.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.container-foot {
  display: flex;
  align-items: baseline;
}

.footer-logo-item {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-content {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.foot-foot {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}