body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*rezet*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
/*Загальны стилі*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/*header*/

img {
  display: block;
}

.section {
  padding: 120px 0;
}

.padge-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-list :hover,
.header-menu-list :focus {
  color: #404bbf;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  padding: 24px 0;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list:hover,
.address-list:focus {
  color: #404bbf;
}
/*------section1"hero"---------------------*/
.hero {
  padding: 188px 0;
  background: #2e2f42;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  height: 56px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*------section2"features"---------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------sectio3Team"---------------------*/
.taste-sect {
  background: #f4f4fd;
}

.container-sect-list {
  display: flex;
  gap: 24px;
}

.taste-sect-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.item-sect-list {
  padding: 32px 0;
}

.taste {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.taste-img {
}

.taste-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.taste-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*------section4"Our Portfolio"---------------------*/

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------------footer------------------  ---*/

.footer {
  padding: 100px 0;
  background: #2e2f42;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
